/* line 4, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 8, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket > .empty {
  padding: 150px 0;
  background-color: transparent; }
  /* line 11, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
  .wd-checkout-basket > .empty span {
    border-right: none;
    display: block;
    padding: 0;
    font-size: 18px; }

/* line 19, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid th,
.wd-checkout-basket .wd-checkout-basket-grid td {
  padding: 20px 20px !important;
  font-size: 14px;
  text-align: center;
  font-weight: normal; }

/* line 26, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid tfoot {
  border-top: 1px solid #E4E4E4; }

/* line 30, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid button.remove {
  border: none;
  text-transform: uppercase; }

/* line 34, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid button.bt-clear-basket {
  border: none;
  background-color: transparent; }

/* line 40, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid .product .photo {
  margin-right: 40px; }

/* line 43, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-grid .product .data {
  vertical-align: middle;
  display: table-cell; }
  /* line 46, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
  .wd-checkout-basket .wd-checkout-basket-grid .product .data a {
    color: black; }

/* line 52, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .js-shipping-calc {
  height: 42px;
  line-height: 42px;
  margin-left: 5px;
  background-color: #FF8400;
  border-radius: 5px !important;
  border: none;
  color: white;
  padding: 0 20px; }

/* line 63, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .wd-checkout-basket-discount .description {
  height: auto; }
  /* line 65, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
  .wd-checkout-basket .wd-checkout-basket-discount .description .js-coupon-calc {
    height: 42px;
    line-height: 42px;
    margin-left: 5px;
    background-color: #FF8400;
    border-radius: 5px !important;
    border: none;
    color: white;
    padding: 0 20px; }

/* line 78, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket .btn-text:hover {
  text-decoration: underline;
  cursor: pointer; }

/* line 85, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket-buttons .bt-checkout {
  font-size: 1em;
  background-color: #FF8400 !important;
  border-radius: 6px;
  height: 50px;
  min-height: 50px;
  border: none;
  padding: 0 20px; }

/* line 88, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket-buttons .wd-checkout-basket-oneclickbuy {
  display: none; }

/* line 91, C:/projetos/core/shoes-inbox/src/scss/basket.scss */
.wd-checkout-basket-buttons .bt-keep-buying {
  font-size: 1em;
  background-color: white !important;
  border-radius: 6px;
  height: 50px;
  min-height: 50px;
  border: none;
  padding: 0 20px;
  border: 1px solid #FF8400;
  color: #FF8400; }
