/* line 4, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 8, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
.basket-wrapper .my-box {
  margin-top: 60px; }
  /* line 10, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .title {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px; }
  /* line 18, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .plan {
    position: relative;
    margin: 20px 0;
    border: 1px solid #DDD;
    padding: 20px;
    position: relative; }
    /* line 25, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan strong,
    .basket-wrapper .my-box .plan span {
      display: block; }
    /* line 30, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan strong {
      font-size: 18px; }
    /* line 34, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan strong,
    .basket-wrapper .my-box .plan span {
      color: black; }
    /* line 38, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan strong {
      font-size: 16px;
      font-weight: bold;
      display: block; }
    /* line 43, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan span {
      font-size: 13px; }
    /* line 46, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .plan a {
      position: absolute;
      right: 20px;
      color: #999;
      font-size: 13px;
      top: 30px;
      text-decoration: underline; }
  /* line 56, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .list li {
    border: 1px solid #DDD;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
    position: relative; }
    /* line 62, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .list li img {
      height: 80px;
      float: left; }
    /* line 67, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .list li .info {
      float: left;
      padding-left: 20px;
      margin-top: 8px; }
      /* line 71, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .list li .info .name {
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        color: black;
        text-transform: uppercase;
        width: 600px;
        display: block; }
      /* line 79, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .list li .info dl {
        font-size: 14px;
        color: black;
        margin-top: 5px; }
        /* line 83, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .list li .info dl dt,
        .basket-wrapper .my-box .list li .info dl dd {
          float: left; }
        /* line 87, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .list li .info dl dt {
          clear: both; }
        /* line 90, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .list li .info dl dd {
          margin-left: 10px;
          font-weight: bold; }
    /* line 97, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .list li.empty {
      border: 1px dashed #CCC;
      padding: 40px; }
      /* line 100, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .list li.empty span {
        display: table;
        margin: 0 auto;
        position: relative; }
        /* line 104, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .list li.empty span:before {
          content: '+';
          color: #666;
          font-size: 28px;
          position: absolute;
          left: -25px;
          top: -10px; }
    /* line 114, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .list li .remove {
      position: absolute;
      right: 20px;
      font-size: 24px;
      color: #666;
      top: 40px; }
  /* line 123, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .finish {
    position: relative; }
    /* line 125, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .finish button {
      background-color: #1FCE6D;
      display: block;
      padding: 20px;
      text-align: center;
      color: white;
      height: auto;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
      width: 100%;
      border: none; }
    /* line 139, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .finish small {
      display: none;
      width: 230px;
      font-size: 11px;
      font-weight: normal;
      text-transform: none;
      background-color: black;
      color: white;
      position: absolute;
      padding: 15px 10px;
      text-align: center;
      border-radius: 7px;
      top: -30px;
      left: 50%;
      margin-left: -115px; }
      /* line 154, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .finish small:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: black transparent transparent transparent;
        position: absolute;
        left: 105px;
        bottom: -5px; }
    /* line 167, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .finish.disabled button {
      opacity: 0.4;
      position: relative; }
    /* line 173, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .finish.disabled:hover small {
      display: block; }
  /* line 180, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .column-list {
    margin-right: 0;
    padding-left: 0;
    padding-right: 7px; }
  /* line 185, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .column-box {
    margin-top: 20px;
    width: 25.5%; }
    /* line 188, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .column-box .wrapper {
      border: 1px solid #DDD;
      padding: 20px;
      font-size: 16px; }
    /* line 193, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .column-box .title {
      font-size: 22px;
      margin-bottom: 40px; }
    /* line 197, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box .column-box dl {
      font-size: 14px;
      overflow: hidden; }
      /* line 200, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .column-box dl:not(.totals) {
        margin-bottom: 20px; }
      /* line 203, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .column-box dl dt,
      .basket-wrapper .my-box .column-box dl dd {
        float: left;
        margin-bottom: 10px; }
      /* line 208, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .column-box dl dt {
        clear: both;
        width: 110px; }
        /* line 211, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .column-box dl dt.dt-total {
          margin-top: 10px; }
      /* line 215, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .column-box dl dd {
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: bold; }
      /* line 221, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
      .basket-wrapper .my-box .column-box dl.totals {
        border-top: 1px solid #DDD;
        padding-top: 30px;
        margin-bottom: 0; }
        /* line 225, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
        .basket-wrapper .my-box .column-box dl.totals .total {
          margin-top: 5px;
          font-size: 20px; }
  /* line 233, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box .basket-empty {
    padding: 60px 0;
    text-align: center; }
  /* line 238, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
  .basket-wrapper .my-box > .loading {
    padding: 60px;
    text-align: center; }
    /* line 242, C:/projetos/core/shoes-inbox/src/scss/my-box.scss */
    .basket-wrapper .my-box > .loading span {
      display: table;
      margin: 0 auto;
      border: 4px solid #DDD;
      padding: 10px 20px; }
