/* line 4, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, C:/projetos/core/shoes-inbox/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 6, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
body.trabalhe-conosco #middle {
  padding-bottom: 0 !important; }

/* line 10, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.row.trabalhe-conosco {
  margin-top: 3em; }
  /* line 14, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
  .row.trabalhe-conosco .column-6:first-child .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px; }
  /* line 20, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
  .row.trabalhe-conosco .column-6 .image {
    min-height: 627px;
    position: relative; }
    /* line 23, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
    .row.trabalhe-conosco .column-6 .image img {
      position: absolute;
      bottom: 0px;
      z-index: 0;
      left: 50%;
      margin-left: -206px;
      margin-right: -206px; }

/* line 35, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback input,
.wd-browsing-feedback select,
.wd-browsing-feedback textarea {
  width: 100%;
  border: none;
  padding: 15px 25px; }

/* line 42, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 45, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback .input-wrapper {
  border: 1px solid #E4E4E4;
  margin-bottom: -1px;
  padding: 5px;
  position: relative; }
  /* line 50, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
  .wd-browsing-feedback .input-wrapper.feedback-name {
    border-radius: 5px 5px 0 0; }
  /* line 53, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
  .wd-browsing-feedback .input-wrapper .icon {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    top: 17px;
    right: 20px; }

/* line 63, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback .column-6 {
  width: 50% !important;
  margin-right: 0 !important; }

/* line 69, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback .wrapper-ms-age .column-6:first-child {
  margin-right: -1px !important; }

/* line 72, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback .wrapper-ms-age .column-6:last-child {
  width: 286.59px !important; }

/* line 79, C:/projetos/core/shoes-inbox/src/scss/trabalhe-conosco.scss */
.wd-browsing-feedback .button-wrapper button {
  width: 100%;
  background-color: #FF8400;
  color: white;
  font-weight: bold;
  height: 58px;
  line-height: 58px;
  border: 0;
  border-bottom: 1px solid #D97100;
  border-radius: 0 0 6px 6px; }
