body.ContentRoute {
	#left {
		> .wd-page-menu {
			border-radius: 6px;
			box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.3);
			position: relative;
			padding: 30px;
			ul {
				li {
					&.root {
						a {
							display: block;
							font-size: 15px;
							color: #333;
						}
						> a {
							font-size: 18px;
							font-weight: bold;
							margin-bottom: 20px;
							padding-bottom: 20px;
							border-bottom: 1px solid #333;
						}
					}
					margin-top: 10px;
				}
			}
		}
	}
	.wd-cms-page {
		.wd-header {
			h1 {
				margin-top: 0;
				font-weight: 400;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-top: 0;
			margin-bottom: 10px;
			font-weight: 400;
		}
		.wd-content {
			line-height: 24px;
			p {
				margin-bottom: 20px;
			}
		}

	}
}