#footer {
	border-top: none;
	padding-top: 0;

	.wrapper-instagram {
		.header {
			text-align: center;
			span, strong {
				display: block;
				color: black;
			}
			span {
				text-transform: uppercase;
				font-size: 24px;
			}
			strong {
				font-size: 40px;
			}
		}
		#instagram {
			overflow: hidden;
			margin-top: 30px;
			a {
				float: left;
				width: 16.66666%;
				display: inline-grid;
				img {
					max-width: 100%;
				}
			}
		}
	}

	.wrapper-newsletter {
		position: fixed;
		width: 100%;
		bottom: 0px;
		z-index: 1;
		margin-bottom: -100px;
		transition: all .2s ease-in-out;
		&.show {
			margin-bottom: 0;
		}
	}
	.footer-1 {
		background-color: #EEE;
		height: auto;
		padding-top: 60px;
		clear: both;
		> .row {
			overflow: hidden;
			margin-bottom: 0;
		}
		.column {
			color: white;
			&.logo {
				text-align: center;
				a {
					display: table;
					margin: 0 auto 40px;
					@extend %sprite;
					background-position: 0 -51px;
					width: 111px;
					height: 43px;
					text-indent: -9999px;
				}
				p {
					line-height: 20px;
					font-size: 12px;
				}
			}
			&.column-10 {
				> .row {
					&:first-child {
						ul {
							li {
								float: left;
								margin-right: 30px;
								a {
									font-weight: bold;
									color: black;
								}
							}
						}
					}
					&:nth-child(2),
					&:nth-child(3) {
						border-style: solid;
						border-color: #CCC;
						border-width: 1px 0 0;
						padding: 10px 0 0px;
						.column {
							> strong {
								display: block;
								float: none;
								height: 40px;
								line-height: 40px;
								margin-right: 10px;
								color: black;
							}
							ul {
								overflow: hidden;
								display: table;
								li {
									float: left;
									margin-right: 10px;
									a {
										display: block;
										text-indent: -9999px;
										width: 36px;
										height: 36px;
										border: 1px solid black;
										@extend %sprite;
									}
								}
							}
							&.social-media {
								&:after {
									content: '';
									position: absolute;
									height: 130px;
									width: 1px;
									background-color: #CCC;
									right: 0;
									top: -10px;
								}
								ul {
									li {
										&.facebook    a { background-position: 0 -307px; }
										&.twitter     a { background-position: -43px -307px; }
										&.google-plus a { background-position: -89px -307px; }
										&.instagram   a { background-position: -134px -307px; }
										&.linkedin    a { background-position: -179px -307px; }
										&.youtube     a { background-position: -222px -307px; }
									}
								}
							}
							&.payment-method {
								.logos {
									@extend %sprite;
									background-position: 0 -347px;
									width: 433px;
									height: 54px;
								}
							}
						}
					}
					&:nth-child(3) {
						> .column {
							margin-bottom: 0;
							&:first-child {
								.logo-big-bang {
									width: 90px;
									height: 60px;
									border: 1px solid #999;
									display: inline-block;
									float: left;
									margin-right: 30px;
								}
							}
							p {
								height: 60px;
								line-height: 20px;
								font-size: 12px;
							}
						}
					}
					&.administrator {
						border-top: 1px solid #CCC;
						padding-top: 30px;
						margin-top: 30px;
						.column {
							.logo-big-bang {
								@extend %sprite;
								background-position: -321px -270px;
								width: 97px;
								height: 61px;
								display: block;
								float: right;
							}
							p {
								text-align: center;
								color: #333;
							}
						}
					}
					.partners {
						.logo-agencia-mestre {
							display: block;
							@extend %sprite;
							background-position: -321px -232px;
							width: 116px;
							height: 22px;
							text-indent: -9999px;
						}
					}
				}
			}
		}
	}
	.footer-2 {
		background-color: black;
		padding: 0;
		height: 60px;
		line-height: 60px;
		.row {
			margin-bottom: 0;
		}
		p {
			text-align: center;
			font-size: 11px;
			color: white;
			margin: 0;
		}
		h5 {
			color: #ff8504;
		}
		a {
			color: white;
			text-decoration: underline;
			font-weight: bold;
		}
		.atendimento {
			dt,
			p {
				color: #55647c;
			}
			dt {
				display: inline-block;
			}
			p {
				a {
					text-decoration: underline;
				}
			}
			ul.info {
				li {
					label {
						color: #55647c;
					}
					span {
						color: white;
					}
				}
			}
			ul.social-media {
				margin-top: 2em;
				li {
					display: inline-block;
					margin-right: 1em;
					width: 41px;
					height: 41px;
					border: 2px solid white;
					border-radius: 50%;
					cursor: pointer;
					a {
						display: table;
						text-indent: -9999px;
						@extend %sprite;
						margin: 0 auto;
					}
					&.facebook {
						a {
							background-position: -205px -97px;
							width: 7px;
  							height: 14px;
  							margin-top: 11px;
						}
					}
					&.instagram {
						a {
							background-position: -287px -65px;
							width: 15px;
							height: 15px;
  							margin-top: 11px;
						}
					}
					&.twitter {
						a {
							background-position: -302px -65px;
							width: 14px;
							height: 12px;
  							margin-top: 13px;
						}
					}
					&.youtube {
						a {
							background-position: -316px -65px;
							width: 15px;
							height: 10px;
  							margin-top: 13px;
						}
					}
				}
			}
		}

		li {
			a {
				margin-bottom: 7px;
				display: block;
			}
		}
	}
	.footer-3 {
		background-color: #FEFEFE;
		h5 {
			color: white;
		}
		.disclaimer {
			color: #414a5b;
			p {
				font-size: 13px;
			}
		}
		.row {
			border-top: 1px solid #131a24;
		}
	}
	.payment-methods-and-security {
		padding: 35px 0;
		.payment-methods {
			strong {
				font-family: 'ubuntubold';
				font-size: 20px;
				color: $color-secondary;
				vertical-align: bottom;
			}
			.flags {
				display: block;
    			@extend %sprite;
    			background-position: 0px 0px;
				width: 340px;
				height: 65px;
			}
		}
		.security {
			.seals {
				display: block;
				@extend %sprite;
				background-position: 0px -135px;
				width: 190px;
				height: 31px;
			}
		}
	}

	.wd-page-menu {
		.root {
			> a {
				display: none;
			}
		}
	}
}