$black: #000000;
$white: #FFFFFF;
$color-1: #000000;
$color-2: #000000;
$color-3: #000000;

body.grid-products,
body.planos {
	#content-wrapper {
		.steps {
			height: 345px;
			background-color: #F1F2F2;
			margin-bottom: 70px;
			ul {
				//overflow: hidden;
				li {
					float: left;
					width: 390px;
					text-align: center;
					padding: 80px 20px;
					.icon {
						display: table;
						margin: 0 auto 20px;
					}
					.title {
						font-size: 16px;
						font-weight: bold;
						text-transform: uppercase;
						color: black;
						margin-bottom: 10px;
						font-family: $font-secondary;
					}
					&.selected {
						background-color: white;
						height: 365px;
						box-shadow: 0 0 20px 5px rgba(black, 0.2);
						padding: 20px 50px 50px;
						> small {
							text-transform: uppercase;
							color: black;
							font-weight: bold;
							font-size: 10px;
							padding-bottom: 20px;
							display: block;
							&:before {
								content: '';
								display: table;
								margin: 0 auto 10px;
								@extend %sprite;
								background-position: -148px -61px;
								width: 11px;
								height: 5px;
							}
						}
						.icon {
							background-color: black;
							
							position: relative;
							&:after {
								content: '';
								display: block;
								position: absolute;
								@extend %sprite;
								
								width: 61px;
								height: 50px;
								top: 50%;
								left: 50%;
								margin-top: -27px;
								margin-left: -25px;
							}
						}
						a {
							padding: 20px 70px;
							font-size: 16px!important;
							font-weight: bold!important;
							background-color: $wine;
							display: table;
							text-transform: uppercase;
							color: white!important;
							margin: 15px auto;
							width: 218px;
							text-decoration: none!important;
						}
						.wrapper-button {
							position: relative;
							button {
								padding: 20px 70px;
								font-size: 16px!important;
								font-weight: bold!important;
								background-color: $wine;
								display: table;
								text-transform: uppercase;
								color: white!important;
								margin: 15px auto;
								width: 218px;
								text-decoration: none!important;
							}
							small {
								display: none;
								width: 230px;
								font-size: 11px;
								font-weight: normal;
								text-transform: none;
								background-color: black;
								color: white;
								position: absolute;
								padding: 15px 10px;
								text-align: center;
								border-radius: 7px;
								top: -30px;
								left: 50%;
								margin-left: -115px;
								&:before {
									display: none;
								}
								&:after {
									content: '';
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 5px 5px 0 5px;
									border-color: black transparent transparent transparent;
									position: absolute;
									left: 105px;
									bottom: -5px;
								}
							}
							&.disabled {
								button {
									opacity: 0.4;
									position: relative;
									
								}
								&:hover {
									small {
										display: block;
									}
								}
							}
						}
						.title {
							font-size: 22px;
						}
						p {
							text-transform: uppercase;
						}

						&:nth-child(1) {
							.icon {
								width: 104px;
								height: 92px;
								background-image: inherit;
								&:after {
									background-position: 0px -457px;
									height: 52px;
								}
							}
						}
						&:nth-child(2) {
							.icon {
								width: 104px;
								height: 92px;
								&:after {
									background-position: -61px -408px;
								}
							}
						}
					}
					&:nth-child(1) {
						.icon {
							@extend %sprite;
							background-position: 0 -409px;
							width: 52px;
							height: 48px;
						}
						strong {
							color: $wine;
							text-decoration: underline;
						}
						a {
							display: block;
							font-size: 12px;
							color: #666;
							margin-top: 20px;
							text-decoration: underline;
						}
					}
					&:nth-child(2) {
						.icon {
							@extend %sprite;
							background-position: -62px -461px;
							width: 61px;
							height: 50px;
						}
					}
					&:nth-child(3) {
						.icon {
							@extend %sprite;
							background-position: -132px -407px;
							width: 56px;
							height: 51px;
						}
						p {
							width: 150px;
							margin: 0 auto;
							color: black;
						}
					}
				}
			}
		}
		.column-left {
			width: 280px;
			float: left;
			padding: 0;
		}
		.column-right {
			padding: 0;
			float: none;
			display: table;
			width: 890px;
		}
	}
	.wd-facet-group {
		.facets {
			border: none;
			.facet-type {
				background-color: #F3F3F3;
				padding: 20px 20px;
				margin-bottom: 20px;
				.facet-title {
					border-bottom: 1px solid #CCC;
					border-top: none!important;
					margin-bottom: 10px;
					padding-bottom: 10px;
					font-size: 18px;
					color: black;
					&:before {
						float: right;
						font-size: 0;
						@extend %sprite;
						background-position: -148px -67px;
						width: 12px;
						height: 6px;
						border: none;
						margin-top: 6px;
					}
					h3 {
					}
					&.facet-closed {
						&:before {
							background-position: -148px -57px;
							margin-top: 2px;
							width: 11px;
							height: 5px;
						}
					}
				}
				ul {
					padding: 0;
					li {
						&:not(:last-child) {
							margin-bottom: 10px;
						}
						h4 {
							
							a {
								&:before {
									content: '';
									width: 15px;
									height: 15px;
									float: left;
									border: 1px solid #CCC;
									margin-right: 8px;
									position: relative;
									top: 1px;
									background-color: white;
									border-radius: 3px;
									background-image: linear-gradient(
									  white 20%, 
									  #EEE
									);
								}
								font-size: 12px;
								.option-title {
									color: black;
								}
							}
						}
						&.selected {
							h4 {
								a {
									&:before {
										content: '✔';
										//position: absolute;
										font-size: 10px;
										color: white;
										text-align: center;
										line-height: 16px;
										background-color: #dcbd31;
										background-image: none;
										border-color: #b89b0b;
									}
								}
							}
						}
					}
				}

				&.price {
					.min-text,
					.max-text {
						color: black;
						top: 14px;
					}
					.max-text {
						right: -10px;
					}
					.defined-range {
						background-color: $wine;
					}
					.submit {
						padding: 10px 20px;
						background-color: black;
						text-transform: uppercase;
						font-size: 10px;
						display: table;
						margin: 40px auto 0;
					}
				}
			}
		}
	}

	.wd-browsing-grid-list {
		padding: 0;
		margin: 0;
		> ul {
			padding-top: 25px;
			> li {
				width: 33.3%;
				margin-bottom: 20px;
				.wd-product-line {
					margin-right: 20px;
				}
				&:nth-child(3n) {
					.wd-product-line {
						margin-right: 0;
					}
				}
			}
		}
	}

	.wd-browsing-grid {
		.wd-header {
			display: none;
		}
		header {
			height: 50px;
			color: black;
			.wd-browsing-grid-pager {
				float: left;
				margin-top: 15px;
				.description {
					padding: 0;
					.text,
					.product-count {
						display: inline-block;
					}
					.product-count {
						&:before {
							display: none;
						}
					}
				}
				.page-number {
					display: none;
				}
			}

			.wd-browsing-grid-sorter {
				float: right;
				position: relative;
				span {
					float: left;
					display: inline-block;
					line-height: 35px;
					padding-right: 10px;
					font-size: 13px;
				}
				select {
					width: 150px;
					float: right;
					font-size: 13px;
				}
			}
		}
		footer {
			.wd-browsing-grid-sorter {
				display: none;
			}
			.wd-browsing-grid-pager {
				margin-top: 10px;
				.description {
					display: none;
				}
				.page-number {
					display: block;
					width: 100%;
					height: 45px;
					//border-style: solid;
					//border-color: #CCC;
					//border-width: 1px;
					//margin-top: -1px;
					span {
						float: left;
						width: 45px;
						line-height: 45px;
						text-align: center;
						border: 1px solid $gray;
						border-radius: 0;
						margin-right: -1px;
						a {
							display: block;
							color: $wine;
							opacity: 0.6;
						}
						&.page-selected {
							opacity: 1;
							font-weight: bold;
							color: $wine;
						}
						&.previous {
							//position: absolute;
							//left: 0;
							//top: 0;
							a {
								font-size: 0;
								height: 45px;
								&:before {
									content: "\f053";
									font: normal normal normal 14px/1 FontAwesome;
	    							line-height: 45px;
								}
							}
						}
						&.next {
							position: absolute;
							right: 1px;
							top: 0;
							//border-left-width: 0px;
							a {
								font-size: 0;
								height: 45px;
								&:before {
									content: "\f054";
									font: normal normal normal 14px/1 FontAwesome;
	    							line-height: 45px;
								}
							}
						}
						&.disabled {
							a {
								&:before {
									opacity: 0.2;
								}
							}
						}
					}
					.pages {
						//display: table;
						//margin: 0 auto;
						> span {
							&:first-child:not(.page-selected) {
								border-left: 1px solid #CCC;
							}
						}
					}
				}
			}
		}
	}

}
body {
	&[class*='context-facet-'] {
		#content-wrapper {
			> .row {
				margin-top: 130px;
			}
			.selected-facets {
				&:before {
					content: 'Você selecionou:';
					font-size: 18px;
					font-weight: bold;
					position: relative;
					left: 20px;
					top: -4px;
				}
				&.show {
					border-bottom: 1px solid $gray;
					padding-bottom: 20px;
					position: absolute;
					top: -70px;
					width: $max-width;
					.facet-type-selected {
						position: absolute;
						left: 180px;
						top: 0;
						margin: 0;
						padding: 0;
						.selected-facet {
							float: left;
							.selected-facet-name {
								display: none;
							}
							ul {
								li {
									background-color: #EEE;
									padding: 10px 40px 10px 10px;
									display: inline-block;
									&:not(:last-child) {
										margin-right: 17px;
									}
									.clear-filter {
										top: 7px;
										@extend %sprite;
										width: 21px;
										height: 22px;
										background-position: -176px -60px;
										text-indent: -9999px;
										transform: scale(0.6);
										right: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

