#header {
	position: absolute;
	&.header-float {
		.header {
			top: 0;
		}
	}
	#top {
		background-color: white;
		height: 42px;
		color: black;
		font-size: 12px;
		font-weight: bold;
		overflow: hidden;
		> .row {
			margin-bottom: 0;
			.right {
				float: right;
			}
		}
		.wd-profile-welcome-shopper {
			line-height: 42px;
			position: relative;
			.login-simple {
				.title {
					display: none;
				}
				.login-title {
					font-weight: normal;
					&:after {
						content: ' ou ';
						font-size: 12px;
						text-transform: none;
					}
				}
				.login-title,
				.new-account {
					line-height: 28px;
					text-transform: uppercase;
				}
				
				.new-account {
					color: black;
					padding-left: 0;
					&:before {
						content: '';
						display: block;
						position: absolute;
						@extend %sprite;
						background-position: -148px -61px;
						width: 11px;
						height: 5px;
						right: -10px;
						bottom: 12px;
					}
				}
				.wd-profile-login {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				border-right: 1px solid black;
				height: 22px;
				right: -35px;
				top: 9px;
			}
		}
		.wd-profile-welcome-shopper,
		.customer-service,
		.whatsapp {
			float: left;
			line-height: 42px;
			padding-left: 60px;
			width: auto;
		}
		.wd-profile-welcome-shopper,
		.customer-service {

		}
		.customer-service {
			position: relative;
			a {
				font-weight: normal;
				line-height: 42px;
				display: block;
				position: relative;
				color: black;
				&:before {
					content: '';
					display: block;
					position: absolute;
					@extend %sprite;
					background-position: -148px -61px;
					width: 11px;
					height: 5px;
					right: -20px;
					bottom: 19px;
				}
			}
			&:after {
				content: '';
				position: absolute;
				border-right: 1px solid black;
				height: 22px;
				right: -48px;
				top: 9px;
			}
		}
		.whatsapp {
			padding-left: 100px;
			span {
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					@extend %sprite;
					background-position: -266px -316px;
					width: 15px;
					height: 15px;
					left: -25px;
					top: 2px;
				}
			}
		}
	}
	.header {
		background-color: black;
		height: 111px;
		transition: top .1s ease-in-out;
		position: fixed;
		top: 42px;
		width: 100%;

		> .row {
			margin-bottom: 0;
		}

		.wrapper-logo,
		.wrapper-search,
		.wrapper-identification,
		.wrapper-wishlist,
		.wrapper-links,
		.wrapper-basket {
			float: left;
			//margin-right: 30px;
		}

		.wrapper-logo {
			width: 300px;
			margin-top: 30px;
			a {
				border: none;
				@extend %sprite;
				background-position: 0px 0px;
				width: 134px;
				height: 51px;
				display: table;
				text-indent: -9999px;
				margin: 0 auto;
			}
		}

		.wrapper-links {
			width: 720px;
			text-align: center;
			display: table;
			margin-bottom: 0;
			a {
				text-transform: uppercase;
				display: inline-block;
				font-size: 20px;
				line-height: 111px;
				padding-right: 40px;
				position: relative;
				color: white;
				&:first-child {
					&:after {
						content: '';
						display: block;
						height: 40px;
						width: 1px;
						background-color: white;
						position: absolute;
						top: 50%;
						margin-top: -20px;
						right: 0;
						margin-right: 20px;
					}
				}
				&.selected {
					font-weight: bold;
					&:before {
						content: '';
						position: absolute;
						display: block;
						width: 14px;
						height: 7px;
						@extend %sprite;
						background-position: -159px -61px;
						top: 30px;
						left: 24px;
					}
				}
			}
		}

		.wrapper-basket {
			width: 150px;
			float: right;
			margin-right: 0;
			margin-top: 40px;
			.wd-checkout-basket-summaryheader {
				width: 100%;
				.wd-widget {
					overflow: inherit;
				}
				a {
					border: none!important;
					display: block;
					text-align: left;
					height: 33px;
					padding: 0;
					margin: 0;
					&:before {
						display: none;
					}
					> b {
						display: inline-block;
						height: 40px;
						line-height: 40px;
						font-size: 12px;
						color: white;
						text-transform: uppercase;
						padding-left: 40px;
						font-weight: normal;
					}
				}
				.basket-size-wrapper {
					//float: right;
					position: absolute;
					left: -10px;
					width: 40px;
					height: 40px;
					border: 1px solid white;
					&:before {
						padding: 4px;
						font-size: 0;
						display: none;
					}
					&:after {
						content: '';
						position: absolute;
						@extend %sprite;
						background-position: -152px -9px;
						width: 19px;
						height: 17px;
						top: 9px;
						left: 9px;
					}
					.basket-size {
						background-color: $wine;
						width: 16px;
						height: 16px;
						display: inline-block;
						text-align: center;
						line-height: 16px;
						color: white;
						font-weight: bold;
						border-radius: 0;
						position: absolute;
						left: 28px;
						top: -7px;
						transition: all .2s ease-in-out;
						&.added {
							box-shadow: 0 0 10px 2px $wine;
							transform: scale(1.5);
						}
					}
				}

				.summaryheader-content {
					width: 375px;
					top: 60px;
					box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.3);
    				border-radius: 5px;
					&:before {
						content: '';
						width: 100%;
						position: absolute;
						height: 40px;
						top: -28px;
					}
					.wd-header {
						height: 66px;
						line-height: 66px;
						background-color: #F6F6F6;
						border-bottom: 1px solid #E5E5E5;
						padding: 0 0 0 20px;
						border-radius: 5px 5px 0 0;
						.wd-title {
							font-weight: normal;
						}
						&:before {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent #F6F6F6 transparent;
							position: absolute;
							right: 27px;
							top: -10px;
						}
					}
					.wd-content {
						margin-bottom: 0;
						.summaryheader-link {
							display: block;
							color: #777;
							background-color: white;
							border-bottom: 1px solid #E5E5E5;
							position: relative;
							.product {
								line-height: inherit;
								.img {
									margin-right: 10px;
								}
								.name {
									width: 200px;
									a {
										color: #666;
									}
								}
								.price {
									color: $orange;
									float: none;
									padding-left: 66px;
									clear: left;
									width: 100%;
									text-align: left;
								}
							}
							.remove {
								position: absolute;
								right: 0;
								top: 0px;
								padding: 10px 17px;
								color: #888;
								font-size: 17px;
								font-weight: bold;
							}
						}
						.subtotal,
						.loyalty-total-of-product-points {
							display: none;
						}

					}
					.wd-footer {
						background-color: transparent;
						height: 58px;
						border-radius: 0 0 5px 5px;
						.go-to-basket {
							display: none;
						}
						.go-to-checkout {
							border: none;
							background-color: transparent;
							color: white;
							line-height: 58px;
							font-weight: bold;
						}
					}
				}

				> .content {
					width: 380px;
					background-color: white;
					position: absolute;
					padding: 30px;
					box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.3);
					top: 60px;
					left: -180px;
					display: none;
					&:before {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 10px 10px 10px;
						border-color: transparent transparent white transparent;
						position: absolute;
						right: 180px;
						top: -10px;
					}
					.title {
						text-transform: uppercase;
						font-family: $font-secondary;
						color: black;
						font-size: 16px;
					}
					.plan {
						position: relative;
						margin: 20px 0;
						padding-bottom: 20px;
						border-bottom: 1px solid #CCC;
						strong,
						span {
							color: black;
						}
						strong {
							font-size: 16px;
							font-weight: bold;
							display: block;
						}
						span {
							font-size: 12px;
						}
						a {
							position: absolute;
							right: 0;
							color: #999;
							font-size: 11px;
							top: 16px;
							text-decoration: underline;
						}
					}
					.list {
						li {
							margin-bottom: 10px;
							overflow: hidden;
							img {
								width: 120px;
								float: left;
							}
							.info {
								float: left;
								.name {
									font-family: $font-secondary;
									font-size: 13px;
									font-weight: bold;
									color: black;
									text-transform: uppercase;
								}
								dl {
									font-size: 12px;
									color: black;
									margin-top: 5px;
									dt,
									dd {
										float: left;
									}
									dt {
										clear: both;
									}
									dd {
										margin-left: 10px;
									}
								}
							}
							&.empty {
								border: 1px dashed #CCC;
								padding: 30px;
								span {
									display: table;
									margin: 0 auto;
									position: relative;
									&:before {
										content: '+';
										color: #666;
										font-size: 28px;
										position: absolute;
										left: -25px;
										top: -10px;
									}
								}
							}
						}
					}
					.finish {
						position: relative;
						button {
							background-color: $wine;
							display: block;
							padding: 20px;
							text-align: center;
							color: white;
							height: auto;
							text-transform: uppercase;
							font-weight: bold;
							font-size: 16px;
							margin-top: 20px;
							width: 100%;
						}
						small {
							display: none;
							width: 230px;
							font-size: 11px;
							font-weight: normal;
							text-transform: none;
							background-color: black;
							color: white;
							position: absolute;
							padding: 15px 10px;
							text-align: center;
							border-radius: 7px;
							top: -30px;
							left: 50%;
							margin-left: -115px;
							&:after {
								content: '';
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 5px 5px 0 5px;
								border-color: black transparent transparent transparent;
								position: absolute;
								left: 105px;
								bottom: -5px;
							}
						}
						&.disabled {
							button {
								opacity: 0.4;
								position: relative;
								
							}
							&:hover {
								small {
									display: block;
								}
							}
						}
					}
				}

				&:before {
					content: '';
					width: 200px;
					background-color: transparent;
					height: 30px;
					position: absolute;
					left: -74px;
					bottom: -37px;
				}
				&:hover {
					> .content {
						display: block;
					}
				}
			}
		}

		#box-login {
			background-color: white;
			padding: 80px 0;
			box-shadow: 0 5px 60px 5px rgba(black, 0.1);
			position: absolute;
		    width: 100%;
		    top: -630px;
		    opacity: 0;
		    transition: all .4s ease-in-out;
			> .row {
				> .column-2 {
					&:before {
						content: '';
						height: 250px;
						border-right: 1px solid #CCC;
						display: block;
						position: absolute;
						top: 10px;
						left: 90px;
					}
				}
			}
			.wd-profile-login {
				width: 100%;
				.wd-title {
					@extend .title-2;
					margin-bottom: 10px!important;
				}
				.wd-content {
					padding: 0;
					form {
						position: relative;
						.recover-password {
							position: absolute;
							right: 0;
							top: 100px;
							font-size: 12px;
							color: black;
						}
						.input-wrapper {
							margin-bottom: 10px;
							label {
								display: none;
							}
							input {
								width: 100%;
								padding: 20px;
							}
							button {
								margin-top: 30px;
								background-color: black;
								font-weight: bold;
								font-size: 16px;
								text-transform: uppercase;
								padding: 20px 50px;
							}
						}
					}
				}
			}
			.column {
				&.facebook-or-register {
					margin-top: 40px;
					.title {
						font-size: 20px;
						font-weight: normal;
						color: #333;
					}
					.login-facebook {
						display: table;
						background-color: #004B9B;
						border-bottom: 2px solid shade(#004B9B, 30%);
						color: white;
						font-size: 18px;
						font-weight: bold;
						padding: 10px 30px 10px 80px;
						margin: 10px 0 5px;
					}
					small {
						text-transform: uppercase;
						font-size: 10px;
					}
					.register {
						margin-top: 30px;
						float: none;
						padding-left: 0;
						margin-left: 0;
						a {
							display: block;
							text-transform: uppercase;
							color: black;
						}
					}
				}
			}
			.close-modal {
				@extend %sprite;
				width: 21px;
				height: 22px;
				background-position: -176px -60px;
				text-indent: -9999px;
				display: block;
				position: absolute;
				top: -40px;
				right: 40px;
			}
		}

		#box-support {
			background-color: white;
			padding: 80px 0;
			box-shadow: 0 5px 60px 5px rgba(black, 0.1);
			position: absolute;
		    width: 100%;
		    top: -555px;
		    opacity: 0;
		    transition: all .4s ease-in-out;
		    .row {
		    	> .column {
		    		> ul {
		    			overflow: hidden;
		    			margin: 0 auto;
		    			display: table;
		    			li {
		    				width: 176px;
		    				min-height: 136px;
		    				float: left;
		    				padding: 20px;
		    				&:not(:last-child) {
		    					margin-right: 20px;
		    					border: 1px solid black;
		    					text-align: center;
		    					a {
		    						vertical-align: middle;
		    						font-weight: bold;
		    						color: black;
		    						&:before {
		    							content: '';
		    							display: table;
		    							margin: 0 auto 10px;
		    							height: 41px;		    							
		    							@extend %sprite;
		    						}
		    					}
		    				}
		    				&.tracking {
		    					a {
		    						&:before {
		    							width: 64px;
		    							background-position: -288px -6px;
		    						}
		    					}
		    				}
		    				&.faq {
								a {
		    						&:before {
		    							width: 41px;
		    							background-position: -365px -5px;
		    						}
		    					}
		    				}
		    				&.email {
								a {
		    						&:before {
		    							width: 47px;
		    							background-position: -419px -9px;
		    						}
		    					}
		    				}
		    				&.util {
		    					width: 230px;
		    					padding-right: 0;
		    					padding-left: 10px;
		    					strong,
		    					small,
		    					> div {
		    						display: block;
		    						margin-bottom: 6px;
		    						color: black;
		    					}
		    					strong {
		    						font-size: 16px;
		    					}
		    					small {
		    						font-size: 14px;
		    					}
		    					> div {
		    						div {
		    							padding-left: 22px;
		    							font-size: 13px;
		    							margin-bottom: 3px;
		    							position: relative;
		    							&:before {
		    								content: '';
		    								@extend %sprite;
		    								position: absolute;
		    								left: 0;
		    								width: 15px;
		    								height: 16px;
		    								display: block;
		    							}
		    							&.phone {
		    								&:before {
		    									background-position: -294px -253px;
		    									top: 1px;
		    								}
		    							}
		    							&.whatsapp {
		    								&:before {
		    									background-position: -266px -316px;
		    									top: 2px;
		    								}
		    							}
		    							&.email {
		    								&:before {
		    									background-position: -293px -235px;
		    									top: 4px;
		    								}
		    							}
		    						}
		    					}
		    				}
		    			}
		    		}
		    	}
		    	.contact-us {
		    		margin-top: 30px;
		    		font-size: 24px;
		    		text-transform: none;
		    		text-align: center;
		    		color: black;
		    	}
		    	.close-modal {
					@extend %sprite;
					width: 21px;
					height: 22px;
					background-position: -176px -60px;
					text-indent: -9999px;
					display: block;
					position: absolute;
					top: -40px;
					right: 40px;
				}
		    }
		}
	}
	.categories {
		background-color: #11151e;
		height: 70px;
		.main-categories {
			.wd-category-menu {
				.level-1 {
					> li {
						display: inline-block;
						h3 {
							height: 70px;
							line-height: 70px;
							padding-right: 20px;
							a {
								display: inline;
								padding: 17px 20px 25px 10px;
								color: white;
								font-weight: normal;
								font-size: 14px;
								border-radius: 5px 5px 0 0;
							}
						}
						&:hover {
							h3 {
								a {
									background-color: #191f2b;;
								}
							}
							.wrapper-sub-section {
								display: block;
							}
						}
					}
				}
				.wrapper-sub-section {
					position: absolute;
					background-color: #191f2b;
					top:70px;
					min-width: 900px;
					padding: 40px;
					z-index: 1;
					border-radius: 0 0 5px 5px;
					li {
						margin-bottom: 5px;
					}
					a {
						color: white;
						font-weight: normal;
					}

					.sub-section,
					.wrapper-brands,
					.wrapper-banner-menu {
						display: inline-block;
						margin-right: 20px;
					}
					.sub-section {
						width: 250px;
						float: left;
						> .title {
							display: block;
							color: white;
							text-transform: uppercase;
							margin-bottom: 30px;
						}
					}
					.wrapper-brands {
						strong {
							display: block;
							color: white;
							text-transform: uppercase;
							margin-bottom: 30px;
						}
					}
					.wrapper-banner-menu {
						margin-right: 0;
						width: 300px;
						height: 200px;
						background-color: black;
						border-radius: 6px;
						float: right;
					}
				}
				.wrapper-sub-section {
					display: none;
				}
			}
		}
		.more-categories {
			.open-more {
				color: white;
				position: absolute;
				right: 0;
				top: 10px;
				background-color: #191f2b;
				display: block;
				padding: 15px 30px 15px 60px;
				border-radius: 4px;
				width: 285px;
				font-weight: bold;
				text-align: right;
				/*
				&:before {
					content: '';
					@extend %sprite;
					background-position: -266px -65px;
					width: 21px;
					height: 16px;
					position: absolute;
					left: 38px;
					top: 17px;
				}
				*/
				.icon-menu {
					position: absolute;
					left: 33px;
					top: 10px;
				}
			}
			.more {
				background-color: #191f2b;
				position: absolute;
				top: 70px;
				left: 0;
				z-index: 1;
				width: 100%;
				display: none;

				nav {
					padding: 30px 40px;
					a {
						font-weight: normal;
						color: white;
					}
					.level-1 {
						> li {
							float: left;
							margin-right: 70px;
							margin-bottom: 50px;
							h3 {
								font-size: 14px;
								padding-bottom: 30px;
								a {
									text-transform: uppercase;
									font-weight: bold;
								}
							}
							.sub-section {
								li {
									margin-bottom: 4px;
								}
							}
						}

					}
				}
			}
			&:hover {
				.open-more {
					height: 70px;
				}
				.more {
					display: block;
				}
			}
		}
	}
	> .row {
		
		h1 {
			margin: 0;
		}
		.wrapper-search {
			
			.wd-search{
				.input-wrapper {
					
					input {
						
					}
				}

				button[type="submit"] {
				 	
				}
			} 	
		}
		.wrapper-identification{
			
			.login-simple {
				
    			.title {
    				
				    b {
	    				
	    				a {
	    					
	    				}
	    			}
    			}
    			.login-wrapper, .new-account {
    				
    			}
			}
		}
		.wrapper-basket {
			.basket-size-wrapper {
				
			}
		}

	}
	
}

body.header-fixed {
	padding-top: 217px;
	#header {
		box-shadow: 0 0px 30px 10px rgba(0,0,0,0.5);
		height: 59px;
		position: fixed;
		width: 100%;
		margin: 0 auto;
		top: 0;
		z-index: 10;
		> .header {
			height: 59px;
			.wrapper-logo {
				h1 {
					
				}
				a {
					background-position: -194px -140px;
					width: 63px;
					height: 26px;
					position: absolute;
					top: 16px;
					left: 65px;
				}
			}
			.wrapper-search {
				margin-top: 0px;
				.search-field,
				button {
					border-radius: 0;
				}
			}
			.wrapper-identification {
				margin-top: 10px;
			}
			.wrapper-wishlist {
				margin-top: 14px;
			}
			.wrapper-basket {
				margin-top: 13px;
			}
		}
		> .categories {
			display: none;
		}
	}
}

body.show-box-login #header .header #box-login {
    top: 112px;
    opacity: 1;
}
body.show-box-support #header .header #box-support {
    top: 112px;
    opacity: 1;
}
body.show-box-login,
body.show-box-support {
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(black, 0.8);
		z-index: 10;
	}
}