body {
	.wrapper-banner,
	.wrapper-how-it-works,
	.wrapper-newsletter,
	.wrapper-plans,
	.wrapper-video,
	.wrapper-testimonials {
		margin-bottom: 3em;
	}
	.wrapper-banner {
		height: 900px;
		background-color: #DDD;
		position: relative;
		background-image: url('/Custom/Content/Themes/Reference/Images/bg-main.jpg');
		background-repeat: no-repeat;
		background-position: center;
		.wd-marketing-banner {
			text-align: center;
			min-height: 526px;
			.banner-show {
				padding-top: 25px;
			}
			.slider-controller {
				bottom: 30px;
				left: 0;
				right: 0;
				line-height: normal;
				li {
					text-indent: -99999px;
					border: 2px solid white;
					border-radius: 50%;
					width: 12px;
					height: 12px;
					display: inline-block;
					float: none;
					text-align: center;
					&.current {
						border-color: $orange;
						background-color: $orange;
					}
					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}
		}
		.over {
			position: absolute;
			width: 1000px;
			height: 200px;
			left: 50%;
			margin-left: -500px;
			top: 50%;
			margin-top: -150px;

			strong,
			span,
			a {
				display: block;
				text-align: center;
				color: white;
			}
			strong {
				font-size: 60px;
			}
			span {
				font-size: 32px;
			}
			a {
				width: 280px;
				height: 78px;
				line-height: 78px;
				font-size: 24px;
				color: white;
				background-color: black;
				margin: 30px auto;
				text-transform: uppercase;
			}
		}
		.go-to {
			position: absolute;
			width: 60px;
			height: 60px;
			border: 1px solid white;
			border-radius: 50%;
			bottom: 70px;
			left: 50%;
			margin-left: -30px;
			text-indent: -9999px;
			animation: animate .2s infinite alternate;
			transition: all .2s ease-in-out;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 21px;
				height: 11px;
				@extend %sprite;
				background-position: -188px -12px;
				top: 24px;
				left: 18px;
			}
			&:hover {
				box-shadow: 0px 0px 0px 3px rgba(white, 1);
			}
		}

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.5);
		}
	}

	.wrapper-how-it-works {
		margin-bottom: 0;
		.steps {
			position: relative;
			margin-bottom: 4em;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				height: 1px;
				width: 700px;
				background-color: #CCC;
				left: 50%;
				margin-left: -350px;
				top: 60px;
				z-index: 0;
			}
			.step {
				text-align: center;
				.image {
					display: table;
					margin: 0 auto;
					height: 103px;
					@extend %sprite;
				}
				> strong {
					display: block;
					margin: 20px 0 0;
					font-size: 18px;
					text-transform: uppercase;
					color: $wine;
				}
				p.info {
					text-transform: uppercase;
					font-weight: bold;
				}
				p:not(.info) {
					color: #666;
					line-height: 24px;
					font-size: 15px;
				}
				&:nth-child(1) {
					.image {
						background-position: 0 -107px;
						width: 141px;
					}
				}
				&:nth-child(2) {
					.image {
						background-position: -163px -107px;
						width: 112px;
					}
				}
				&:nth-child(3) {
					.image {
						background-position: -297px -107px;
						width: 144px;
					}
				}
			}
		}
		.more {
			border-top: 1px solid #DDD;
			background-color: #F1F2F2;
			height: 143px;
			.column {
				padding-left: 100px;
				padding-top: 34px;
				/*
				&.no-fidelity {
					&:after {
						content: '';
						position: absolute;
						height: 130px;
						width: 1px;
						background-color: #DDD;
						right: 30px;
						top: 0;
					}
				}
				*/
				.icon {
					position: absolute;
					left: 20px;
					@extend %sprite;
					height: 58px;
					margin-top: 5px;
				}
				strong {
					font-size: 18px;
					color: $wine;
				}
				p {
					margin-right: 40px;
				}

				&:nth-child(1) {
					.icon {
						background-position: 0 -232px;
						width: 56px;
					}
				}
				&:nth-child(2) {
					.icon {
						background-position: -63px -232px;
						width: 56px;
					}
				}
				&:nth-child(3) {
					.icon {
						background-position: -132px -232px;
						width: 56px;
					}
				}
			}
		}
	}

	

	.wrapper-plans {
		background-color: #532134;
		background-image: url('/Custom/Content/Themes/Reference/Images/bg-plans.jpg');
		background-repeat: no-repeat;
		padding: 40px 0;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(#532134, 0.6);
		}
		> .row {
			&:first-child {
				//border-style: solid;
				//border-color: #CCC;
				//border-width: 1px 1px 0 1px;
				padding: 40px 0;
				max-width: 900px;
				.title-1 {
					color: white;
					margin-bottom: 10px;
				}
				p {
					text-align: center;
					color: white;
				}
			}
		}
		.wd-product-list {
			> .list {
				overflow: hidden;
				width: 1055px;
				display: table;
				margin: 0 auto;
				> li {
					margin-right: 40px;
					margin-bottom: 30px;
					width: 325px;

					&:nth-child(3n),
					&:last-child {
						margin-right: 0;
					}
					&.product-985123 {
						width: 690px;
						.plan-line {
							padding-left: 413px;
						}
					}
					.plan-line {
						min-height: 437px;
						border: 4px solid black;
						//background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_sp.jpg');
						background-repeat: no-repeat;
						background-color: transparent;
						&.plano-sao-paulo {
							background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_sp.jpg');
						}
						&.plano-londres {
							background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_londres.jpg');
						}
						&.plano-paris {
							background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_paris.jpg');
						}
						&.plano-new-york {
							background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_ny.jpg');
						}
						&.plano-milao {
							background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_milao.jpg');
						}
						h3 {
							a {
								font-size: 24px;
								font-weight: bold;
								text-align: center;
								display: block;
								color: black;
							}
						}
						.wd-product-line-medias,
						.wd-flags {
							display: none;
						}
					}
				}
			}
		}

		.plan-over {
			position: absolute;
			width: 100%;
			background-color: white;
			top: 230px;
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease-in-out;
			z-index: 1;

			&.show {
				opacity: 1;
				visibility: visible;
			}

			.plan-list {
				> .row {
					margin-bottom: 0;
				}
				.close-plans {
					@extend %sprite;
					width: 21px;
					height: 22px;
					background-position: -176px -60px;
					text-indent: -9999px;
					display: block;
					position: absolute;
					top: 36px;
					right: 0px;
					transform: scale(0.7);
					text-indent: -9999px;
				}
				ul {
					width: 1100px;
					margin: 0 auto;
					li {
						float: left;
						width: 20%;
						position: relative;
						a {
							display: block;
							text-align: center;
							font-family: 'Josefin Sans', sans-serif;
							font-size: 24px;
							font-weight: bold;
							text-transform: uppercase;
							color: black;
							padding: 30px 0;
							text-decoration: none;
							&:after {
								content: '';
								position: absolute;
								width: 100%;
								bottom: 0;
								left: 0;
								border-bottom: 0px solid white;
								transition: all .1s ease-in-out;
							}
							&:before {
								content: 'Plano';
								display: block;
								font-size: 16px;
								font-weight: normal;
							}
						}
						&:hover,
						&.selected {
							a {
								color: $wine;
								&:after {
									content: '';
									position: absolute;
									width: 100%;
									bottom: 0;
									left: 0;
								}
							}
						}
						&:hover {
							a {
								&:after {
									border-bottom: 2px solid tint($wine, 20%);
								}
							}
						}
						&.selected {
							a {
								&:after {
									border-bottom: 5px solid $wine;
								}
							}
						}
					}
				}
			}
			.plan-information {
				background-color: white;
				padding: 0;
				margin-bottom: 0;
				margin-right: 0;
				width: 100%;
				.detail {
					padding: 50px 30px 50px 15%;
					background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_sp_big.jpg');
					background-repeat: no-repeat;
					//> .column-8 {
						h3 {
							color: black;
							font-size: 42px;
							text-transform: uppercase;
							font-family: 'Josefin Sans', sans-serif;
						}
						.short-description {
							margin: 20px 0 40px;
							color: #333;
							color: black;
						}
						.description {
							border-bottom: 1px solid #CCC;
							.column {
								color: black;
								&:first-child {
									font-weight: bold;
									font-size: 16px;
									text-transform: uppercase;
									text-align: center;
									&:after {
										content: '';
										position: absolute;
										height: 84px;
										top: -10px;
										right: 6px;
										border-right: 1px solid #CCC;
									}
								}
								.play {
									padding-left: 50px;
									color: black;
									font-weight: bold;
									font-size: 16px;
									width: 200px;
									display: block;
									height: 54px;
									margin-top: 3px;
									&:before {
										content: '';
										width: 54px;
										height: 54px;
										display: inline-block;
										border: 1px solid black;
										border-radius: 50%;
										position: absolute;
										left: 0;
										top: 0;
									}
									&:after {
										content: '';
										@extend %sprite;
										background-position: -204px -60px;
										width: 15px;
										height: 17px;
										display: block;
										top: 19px;
										position: absolute;
										left: 23px;
									}
								}
							}
						}
						.quantity,
						.periodicity {
							margin-top: 40px;
							strong {
								display: block;
								text-align: center;
								font-size: 16px;
								font-weight: bold;
								margin-bottom: 20px;
								color: black;
							}
						}
						.quantity {
							ul {
								width: 360px;
								display: table;
								margin: 0 auto;
								li {
									float: left;
									width: 33%;
									label {
										font-size: 20px;
										font-weight: bold;
										width: 44px;
										height: 44px;
										line-height: 44px;
										border: 1px solid black;
										text-align: center;
										display: table;
										margin: 0 auto 10px;
									}
									input {
										display: table;
										margin: 0 auto;	
										&[type="radio"] {
											border: 1px solid #999;
											background-color: white;
											-webkit-appearance: none;
											width: 16px;
											height: 16px;
											border-radius: 50%;
											position: relative;

											&:checked:before {
												background-color: $wine;
												/* border: 2px solid white; */
												content: '';
												position: absolute;
												width: 8px;
												height: 8px;
												display: block;
												border-radius: 50%;
												top: 3px;
												left: 3px;
											}
										}
									}
								}
							}
						}
						.periodicity {
							ul {
								display: table;
								margin: 0 auto;
								li {
									float: left;
									width: 150px;
									text-align: center;
									border-bottom: 1px solid #999;
									position: relative;
									a {
										display: block;
										font-weight: bold;
										color: #999;
										font-size: 16px;
										text-transform: uppercase;
										padding: 10px 0;
									}
									&.selected {
										a {
											color: $wine;
										}
										&:before {
											content: '';
											position: absolute;
											left: 50%;
											margin-left: -3px;
											bottom: -6px;

											border-style: solid;
											border-width: 6px 6px 0 6px;
											border-color: $wine transparent transparent transparent;
										}
										&:after {
											content: '';
											width: 100%;
											position: absolute;
											border: 1px solid $wine;
											bottom: 0;
											left: 0;
										}
									}
								}
							}
						}
						.price {
							margin-top: 20px;
							strong {
								display: table;
								margin: 0 auto;
								color: $wine;
								font-size: 50px;
								em {
									font-size: 18px;
									position: relative;
									top: -20px;
									left: 8px;
									font-style: normal;
									font-weight: bold;
								}
								i {
									font-size: 32px;
									font-weight: bold;
									font-style: normal;
								}
								&:after {
									content: '/par';
									font-size: 18px;
								}
							}
						}
						.choose-shoes {
							margin-top: 20px;
							a {
								display: table;
								margin: 0 auto;
								width: 260px;
								font-size: 14px;
								text-transform: uppercase;
								background-color: black;
								color: white;
								text-align: center;
								padding: 20px;
								font-weight: bold;
							}
						}
					//}
				}
				.shoes {
					.wd-marketing-banner {
						height: auto!important;
						background-color: transparent;
					}
				}

				.plans.list {
					> li {
						display: none;
						
						&.selected {
							display: block;
						}
					}
				}
				
				/*
				&[data-selected="985098"] {
					background-image: url('/Custom/Content/Themes/Reference/Images/plans/bg_sp_big.jpg');
					background-repeat: no-repeat;
				}
				*/
				
			}
		}
	}
	.wrapper-video {
		height: 465px;
		padding: 0;
		//background-image: linear-gradient(to right, white 50%, #EEE 50%);
		.title-2 {
			text-align: left;
			margin-bottom: 10px;
			width: 300px;
		}
		> .column {
			padding: 0;
			margin-right: 0;
			width: 50%;
			&:last-child {
				padding: 60px;
				p {
					margin-bottom: 20px;
					font-size: 16px;
					max-width: 400px;
				}
			}
			&.watch {
				background-image: url('/Custom/Content/Themes/Reference/Images/bg-video.jpg');
				background-repeat: no-repeat;
				height: 100%;
				.play {
					height: 190px;
					width: 203px;
					border: 2px solid white;
					position: absolute;
					top: 50%;
					margin-top: -95px;
					left: 50%;
					margin-left: -101px;
					background-color: transparent;
					text-align: center;
					color: white;
					text-transform: uppercase;
					&:before {
						content: '';
						display: table;
						margin: 40px auto 10px;
						width: 72px;
						height: 72px;
						@extend %sprite;
						background-position: -199px -232px;
					}
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(black, 0.5);
				}
			}
		}
	}

	.wrapper-testimonials {
		clear: both;
		.row {
			> ul {
				overflow: hidden;
				border-bottom: 1px solid #CCC;
				> li {
					width: 390px;
					float: left;
					padding: 0;
					margin: 0;
					> div {
						border-style: solid;
						border-color: #CCC;
						border-width: 1px 0 0 1px;
						padding: 20px;
						.wrapper-people {
							margin-left: 50px;
							margin-bottom: 10px;
						}
						strong {
							font-weight: bold;
							font-size: 14px;
							display: block;
							height: 50px;
							line-height: 35px;
							margin-left: -55px;
							&:before {
								content: '';
								float: left;
								width: 50px;
								height: 50px;
								background-color: #DDD;
								border-radius: 50%;
								display: inline-block;
								margin-right: 10px;
							}
						}
						.rating {
							margin-top: -20px;
							margin-left: -5px;
							li {
								display: inline-block;
								text-indent: -9999px;
								@extend %sprite;
								background-position: -213px -11px;
								width: 13px;
								height: 12px;
							}
						}
					}
					&:nth-child(3n) {
						border-right: 1px solid #CCC;
					}
				}
			}
		}
	}

}
.wd-product-list-set {
	&.wd-tabs.wd-widget {
		.wd-nav {
			> li {
				background-color: #f7f7f7;
				width: 390px;
				border-top: 1px solid $gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;
				&:first-child {
					border-left: 1px solid $gray;
				}
				&.wd-selected {
					background-color: #191f2b;
					border-color: #191f2b;
					a {
						color: white;
					}
				}
				a {
					color: #888;
					display: block;
					text-align: center;
					padding: 20px 0;
				}
			}
		}
	}
	.wd-panel {
		padding: 0;
	}
}
.wrapper-newsletter {
	background-color: $wine;
	height: 97px;
	overflow: hidden;
	> .row {
		background-color: $wine;
		border: none;
		padding: 10px 0;
		color: white;
		.column {
			&:first-child {
				.title-1 {
					margin-bottom: 0;
					text-align: left;
					color: white;
					font-size: 16px;
					font-family: $font-secondary;
				}
				margin-bottom: 0px;
				margin-top: 18px;
				p {
					color: white;
					padding: 0;
					margin: 0;
				}
			}
			&:last-child {
				.wd-marketing-newsletter {
					float: inherit;
					width: 100%;
					background-color: transparent;
					.form-wrapper {
						p {
							display: none;
						}
						.input-email-marketing-newsletter {
							width: 450px;
							margin-left: 0;
							input {
								line-height: 45px;
								height: 45px;
							}
							span.error {
								max-width: inherit!important;
								background-color: transparent;
								padding: 0;
								left: 0;
								color: yellow;
								text-transform: uppercase;
								font-size: 10px;
							}
						}
						.input-button-marketing-newsletter {
							button {
								height: 45px;
								width: 135px;
								font-weight: bold;
								background-color: #666;
							}
						}
					}
					.message {
						text-transform: uppercase;
						font-size: 14px;
						text-align: center;
						color: yellow;
						font-family: $font-secondary;
						padding-top: 3px;
					}
				}
			}
		}
	}
}

@keyframes animate {
	from {
		bottom: 130px;
	}

	to {
		bottom: 140px; 
	} 
}