body {

	.wrapper-identification {
		margin: 80px 0;
	    width: 100%;
	    background-color: white;
		> .row {
			> .column-2 {
				&:before {
					content: '';
					height: 250px;
					border-right: 1px solid #CCC;
					display: block;
					position: absolute;
					top: 10px;
					left: 90px;
				}
			}
		}
		.wd-profile-login {
			width: 100%;
			.wd-title {
				@extend .title-2;
				margin-bottom: 10px!important;
			}
			.wd-header {
				padding: 0!important;
				margin: 0!important;
				display: block;
				.wd-title {
					text-align: left;
				}
			}
			.wd-content {
				padding: 0;
				form {
					position: relative;
					.recover-password {
						position: absolute;
						right: 0;
						top: 100px;
						font-size: 12px;
						color: black;
					}
					.input-wrapper {
						margin-bottom: 10px;
						label {
							display: none!important;
						}
						input {
							width: 100%!important;
							padding: 20px;
						}
						button {
							margin-top: 30px;
							background-color: black;
							font-weight: bold;
							font-size: 16px;
							text-transform: uppercase;
							padding: 20px 50px;
							display: block;
						}
					}
				}
			}
		}
		.column {
			&.facebook-or-register {
				margin-top: 40px;
				.title {
					font-size: 20px;
					font-weight: normal;
					color: #333;
				}
				.login-facebook {
					display: table;
					background-color: #004B9B;
					border-bottom: 2px solid shade(#004B9B, 30%);
					color: white;
					font-size: 18px;
					font-weight: bold;
					padding: 10px 30px 10px 80px;
					margin: 10px 0 5px;
				}
				small {
					text-transform: uppercase;
					font-size: 10px;
				}
				.register {
					margin-top: 30px;
					float: none;
					padding-left: 0;
					margin-left: 0;
					a {
						display: block;
						text-transform: uppercase;
						color: black;
					}
				}
			}
		}
		.close-modal {
			@extend %sprite;
			width: 21px;
			height: 22px;
			background-position: -176px -60px;
			text-indent: -9999px;
			display: block;
			position: absolute;
			top: -40px;
			right: 40px;
		}
	}
	
}