@mixin icon($size: 50px, $border: gray, $border-radius: 50%) {
	content: "";
	display: block;
	width: $size;
	height: $size;
	position: absolute;
	border: 1px solid $border;
	border-radius: $border-radius;
}
@mixin button($color: buttons, $size: default, $radius: 5px, $wide: false) {
	@if $size == 'big' {
		font-size: 1.2em;
	} @else if $size == 'small' {
		font-size: 0.8em;
	} @else {
		font-size: 1em;
	}

	@if $wide == true {
		width: 100%
	}

	@if $color == 'primary' {
		background-color: $color-primary!important;
	} @else if $color == 'secondary' {
		background-color: $color-secondary!important;
	} @else if $color == 'buttons' {
		background-color: $color-buttons!important;
	} @else {
		background-color: $color!important;
	}
	
	border-radius: $radius;
	height: 50px;
	min-height: 50px;
	border: none;
	padding: 0 20px;
}

@mixin toggleElement($visibility: visible) {
    visibility: $visibility;
	@if $visibility == 'visible' {
		opacity: 1;
	} @else {
		opacity: 0;
	}
}

@mixin title-big() {
	.wd-header {
		border-bottom: 1px solid #DDD;
		margin-bottom: 3em;
		.wd-title {
			font 		   : 700 1.7em "league_spartanregular";
			color 		   : $color-dark;
			border-bottom  : 6px solid $color-primary;
			display        : inline-block;
			//font-size      : 2em;
			//font-weight    : bold;
			letter-spacing : 1px;
			margin-bottom  : -6px;
			padding-bottom : 0.4em;
			text-transform : uppercase;
		}
	}
}

@mixin backgroundPosition($bgLeft, $bgTop, $left, $top) {
	background-position: $bgLeft $bgTop;
	left: $left;
	top: $top;
}

@mixin pageHeader($color: red, $posX: 0, $posY: 0) {
	.page-header {
		overflow: hidden;
		position: relative;
		padding-right: 0;
		@if $posX < 0 {
			padding-bottom: 30px;
			padding-top: 30px;
			padding-left: 95px;
		}
		> .page-icon {
			width: 85px;
			height: 85px;
			display: block;
			position: absolute;
			left: 0;
			top: 12px;
			@extend %sprite;
			background-position: $posX $posY;
		}
		.page-title {
			font-family: 'Bebas Neue', sans-serif;
			border-bottom: 2px solid $color;
			color: $color;
			font-size: 35px;
			text-transform: uppercase;
		}
	}
}

@mixin headerWidget() {
	.wd-header {
		overflow: hidden;
		position: relative;
		padding: 30px 0 30px 95px;
		> .wd-icon {
			width: 85px;
			height: 85px;
			//border: 1px solid red;
			display: block;
			position: absolute;
			left: 0;
			top: 12px;
			@extend %sprite;
			background-position: -95px -365px;
		}
		.wd-more {
			right: 0;
			float: right;
			margin-top: -2em;
			position: relative;
			padding-right: 20px;
			&:after {
				@include icon(17px, transparent);
				right: 0;
				top: 3px;
				//background-color: $color-action;
				@extend %sprite;
				background-position: -194px -131px;
				width: 15px;
				height: 15px;

			}
		}
		.wd-title {
			font-family: 'Bebas Neue', sans-serif;
			border-bottom: 2px solid $color-primary;
			color: $color-primary;
			font-size: 35px;
			text-transform: uppercase;
		}
	}
	.wd-footer {
		.wd-more {
			display: none;
		}
	}
}