.plan-line {
	padding: 40px 50px;
	text-align: center;

	h3 {
		font-size: 32px;
		font-weight: bold;
		min-height: 50px;
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		&:before {
			content: 'Plano';
			font-weight: normal;
			font-size: 24px;
			display: block;
		}
	}
	.description {
		margin: 20px 0;
		padding-bottom: 20px;
		text-align: center;
		font-size: 18px;
		color: black;
		border-bottom: 1px solid #CCC;
		strong {
			font-weight: bold;
			display: block;
		}
	}
	.mount-my-box {
		display: block;
		padding: 20px;
		background-color: black;
		color: white;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 20px;
	}

	.wd-product-price-description {
		height: auto;
		&:before {
			content: 'A partir de';
			color: #999;
			display: block;
		}
		.priceContainer {

			.list-price,
			.sale-price {
				padding-top: 0;
				span {
					color: $wine;
					font-size: 42px;
					font-weight: bold;
					em {
						font-size: 16px;
						position: relative;
						top: -10px;
						left: 8px;
					}
					&:after {
						content: '/par';
						font-size: 18px;
					}
				}
			}
		}
	}
	.wd-product-line-medias-variations {
		display: none;
	}
	.wrapper-flags {
		height: 30px;
	}
	.hover {
		opacity: 0;
		position: absolute;
		height: 50px;
		top: 50%;
		margin-top: -25px;
		> a {
			display: block;
			float: left;
			width: 137px;
			padding: 0;
			text-align: center;
			background-color: white;
			color: black;
			border-radius: 30px;
			height: 50px;
			line-height: 50px;
			font-weight: bold;
			margin-right: 20px;
		}
		.btn-buy {
			background-color: #ff8500;
			border: 0;
			text-indent: -9999px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			font-size: 0;
    		position: relative;
			top: -9px;
			/*
			&:before {
				content: '';
				@extend %sprite;
				background-position: -159px -65px;
				width: 29px;
				height: 32px;
				margin: 0 auto;
				display: block;
				transform: scale(0.8);
			}
			*/
		}
	}
	//transition: all .2s ease-in-out;
}