body.planos {
	.wrapper-plans {
		background-image: inherit;
		background-color: white;
		overflow: hidden;

		> .row:first-child {
			padding-bottom: 0px;
		}
		.title-2 {
			color: black!important;
		}
		p {
			color: black!important;
		}
		&:before {
			display: none;
		}
		.plan-over {
			position: relative;
			top: 0;
		}
		.plan-list {
			.close-plans {
				display: none!important;
			}
			li {
				.price {
					margin-top: -20px;
					margin-bottom: 20px;
					strong {
						display: table;
						margin: 0 auto;
						color: #CCC;
						font-size: 42px;
						em {
							font-size: 16px;
							position: relative;
							top: -15px;
							left: 8px;
							font-style: normal;
							font-weight: bold;
						}
						i {
							font-size: 22px;
							font-weight: bold;
							font-style: normal;
						}
						&:after {
							content: ' /par';
							font-size: 18px;
						}
					}
				}
				&:hover,
				&.selected {
					.price {
						strong {
							color: $wine;
						}
					}
				}
			}
		}
	}
	.wrapper-testimonials {
		margin-top: 30px;
	}
}