.wd-product-line {
	border-style: solid;
	border-color: $gray;
	border-width: 1px 1px 1px 1px;
	background-color: white;
	margin-top: -1px;
	margin-right: -1px;

	padding: 20px 30px;
	min-height: 437px;

	h3 {
		min-height: 20px;
		height: auto;
		text-transform: uppercase;
		font-size: 16px;
		//font-weight: bold;
		color: black;
		text-transform: uppercase;
		font-family: $font-secondary;
		a {
		}
	}
	.rating {
		margin: 0 0 10px;
	}
	.variation {
		.title {
			font-size: 12px;
			text-transform: uppercase;
			color: black;
			margin-bottom: 5px;
			display: block;
		}
		ul {
			li {
				display: inline-block;
				a {
					border: 1px solid black;
					display: block;
					width: 24px;
					height: 24px;
					line-height: 24px;
					font-size: 10.5px;
					color: black;
					text-align: center;
					position: relative;
					&.selected {
						background-color: $wine;
						color: white;
					}
				}
			}
		}
	}
	.bottom {
		position: relative;
		.btn-buy {
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			background-color: black;
			padding: 15px 40px;
			display: block;
			margin: 20px auto 0;
			text-align: center;
		}
		.message-variation {
			//display: none;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 180px;
			font-size: 11px;
			font-weight: normal;
			text-transform: none;
			background-color: #FFC;
			color: black;
			position: absolute;
			padding: 10px 10px;
			text-align: center;
			border-radius: 5px;
			border: 1px solid shade(#FFC, 20%);
			top: 0px;
			left: 50%;
			margin-left: -90px;
			transition: all .2s ease-in-out;
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #FFC transparent transparent transparent;
				position: absolute;
				left: 90px;
				bottom: -5px;
			}
			&.show {
				opacity: 1;
				visibility: visible;
				top: -30px;
			}
		}
	}
	.wd-product-line-medias-variations {
		display: none;
	}
	.wrapper-flags {
		height: 30px;
	}
	&.added {
		&:before {
			content: '✔';
			color: white;
			font-size: 8px;
			text-align: center;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 16px;
			height: 16px;
			line-height: 14px;
			background-color: $wine;
			border: 1px solid shade($wine, 20%);
			border-radius: 4px;
		}
		border-color: $wine;
		.btn-buy {
			background-color: $wine;
			font-size: 0;
			&:before {
				font-size: 14px;
				content: 'Tirar da Box';
			}
		}
		.variation {
			a:not(.selected) {
				pointer-events: none;
				cursor: default;
				&:before {
					content: '';
					position: absolute;
					width: 26px;
					height: 26px;
					background-color: white;
					left: -1px;
					top: -1px;
					opacity: 0.8;
				}
			}
		}
	}

	&:hover {
		border-color: tint(#999, 20%);
		.wd-product-line-medias {
			.variation {
				&:before {
					content: 'Ver mais detalhes';
					display: block;
					position: absolute;
					width: 120px;
					text-align: center;
					background-color: rgba($wine, 0.8);
					z-index: 1;
					left: 50%;
					margin-left: -90px;
					padding: 30px;
					color: white;
					font-size: 16px;
					font-weight: bold;
					top: 50%;
					margin-top: -50px;
				}
			}
		}
	}
}