body.page-product {
	.wrapper-name {
		margin-top: 80px;
		margin-bottom: 40px;
		h1 {
			font-size: 24px;
			font-weight: 100;
			margin: 0 0 10px;
			display: inline-block;
		}
		a.wishlist {
			display: inline-block;
			/*
			width: 30px;
			height: 30px;
			border: 1px solid $orange;
			text-indent: -9999px;
			*/
			position: relative;
			top: -2px;
			margin-left: 15px;
		}
		.wd-product-rating {
			.review-create {
				color: #888;
				font-size: 12px;
			}
		}
		.wrapper-loyalty {
			background-color: #F7F7F7;
			border: 1px solid $gray;
			display: block;
			height: 60px;
			line-height: 60px;
			font-weight: 400;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			border-radius: 6px;
			width: 120px;
			float: right;
			strong {
				color: $orange;
			}
		}
	}

	.wrapper-info {
		margin-bottom: 80px;
		> .column {
			border: 1px solid $gray;
			padding: 35px;
			&:last-child {
				border-radius: 6px;
			}
		}
		.description {
			padding: 0 0 40px 0;
			margin-bottom: 40px;
			border-bottom: 1px solid $gray;
		}
		.price {
			border-top: 1px solid $gray;
			padding: 40px 0;
			.sale-price {
				span {
					font-size: 28px;
					font-weight: bold;
				}
			}
		}
		.buy {
			border-top: 1px solid $gray;
			padding: 50px 0;
			.quantity {
				position: relative;
				width: 100px;
				a {
					position: absolute;
					color: #B1B1B1;
					font-size: 22px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					top: 50%;
					margin-top: -10px;
					&.minus {
						left: 10px;
						font-size: 30px;
						margin-top: -12px;
					}
					&.plus {
						right: 10px;
					}
				}
				input {
					width: 100%;
					border: 1px solid $gray;
					text-align: center;
					font-weight: bold;
					border-radius: 50px;
					height: 50px;
					line-height: 50px;

				}
			}
			.wd-buy-button {
				width: 100%;
				.wd-product-oneclickbuy {
					display: none;
				}
				.btn-buy {
					width: 100%;
					height: 50px;
					line-height: 50px;
					background-color: $orange;
					border-radius: 50px;
					color: white;
					font-weight: bold;
					border-style: solid;
					border-color: #D97100;
					border-width: 0 0 1px;
					box-shadow: 0 5px 20px 2px rgba($orange, 0.4);
				}
			}
			.wd-product-notifywhenavailable {
				position: relative;
				top: -20px;
				margin-bottom: -20px;
				button {
					width: 100%;
					height: 50px;
					line-height: 50px;
					background-color: #444;
					border-radius: 50px;
					color: white;
					font-weight: bold;
					border-style: solid;
					border-color: #222;
					border-width: 0 0 1px;

				}
			}
		}
		.delivery-and-payment {
			.livicon-evo {
				position: relative;
				top: -2px;
				margin-right: 5px;
			}
			a {
				color: black;
				background-color: #F7F7F7;
				border: 1px solid $gray;
				display: block;
				height: 70px;
				line-height: 70px;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
				text-transform: uppercase;
				border-radius: 6px;
			}
			.wd-product-deliveryfee,
			.wd-product-payment-options {
				display: none;
			}
			.wd-product-deliveryfee {
				.bt-calculate {
					display: none;
				}
			}

		}
	}

	.wrapper-descriptions {
		margin-top: 80px;
		.wd-descriptions {
			.wd-header {
				border-style: solid;
				border-color: $gray;
				border-width: 1px 0;
				height: 70px;
				line-height: 70px;
				> .wd-title {
					display: none;
				}
				.wd-descriptions-nav {
					@extend .row;
					display: block;
					li {
						margin-right: 90px;
						&.wd-selected {
							.wd-title {
								color: $orange;
								&:after {
									content: '';
									border-bottom: 3px solid $orange;
									width: 100%;
									display: block;
									margin-top: -3px;
								}
							}
						}
						.wd-title {
							text-transform: uppercase;
							color: #B1B1B1;
							font-weight: bold;
							font-size: 13px;
						}
						a {

						}
					}
				}
			}

			.wd-content {
				@extend .row;
				margin-top: 30px;
				.wd-descriptions-panel {
					margin: 0;
				}
			}

			.wd-descriptions-toolbar {
				display: none;
			}
		}
	}

	.wrapper-reviews {
		margin-top: 80px;
		> .header {
			border-style: solid;
			border-color: $gray;
			border-width: 1px 0;
			height: 70px;
			line-height: 70px;
			strong {
				text-transform: uppercase;
				color: #B1B1B1;
				font-weight: bold;
				font-size: 13px;
			}
		}
		> .body {
			background-color: #F7F7F7;
			.wd-product-reviews {
				.wd-header {
					.wd-title {
						display: none;
					}
					.review-create {
						position: absolute;
						right: 0;
						top: 25px;
						background-color: $orange;
						width: 220px;
						height: 50px;
						line-height: 50px;
						color: white;
						font-weight: bold;
						border-radius: 50px;
						text-align: center;
					}
				}
				.wd-footer {
					display: none;
				}

				.review-header {
					height: 100px;
					line-height: 100px;
					.column-8 {
						font-size: 24px;
					}
					border-bottom: 1px dotted $gray;
				}
				.wd-product-reviews-list {
					min-height: 200px;
				}
				.wd-list-reviews-itens {
					.row {
						padding: 40px 0!important;
						border-bottom: 1px dotted $gray;
						.avaliacao {
							.atribute {
								display: none;
							}
							.rating {
								margin-left: -2px;
							}
						}
						small {
							font-weight: bold;
						}
					}
					.wd-review-item {
						padding: 0;
					}
				}
			}
		}
	}




	.wd-product-medias-enlarger {
		display: none;
	}
	.wd-product-media-selector {
		margin-top: 30px;
		ul {
			overflow: inherit;
		}
		.image {
			width: 71px;
			height: 71px;
			border: 1px solid $gray;
			border-right: none;
			margin-right: 0;

			&.selected {
				box-shadow: 0 0px 40px 4px rgba(0, 0, 0, 0.05);
				&:after {
					content: '';
					border-bottom: 2px solid $orange;
					width: 100%;
					position: absolute;
					bottom: -1px;
				}
			}

			
			display: flex;
			flex-direction: column;
			justify-content: center;
			&:last-child {
				border-right: 1px solid $gray;
			}

			img {
				display: table;
				margin: 0 auto;	
			}
		}
	}
	.wd-product-associations {
		.wd-title {
			font-size: 24px;
			margin-bottom: 40px;
		}
	}

	.wd-product-variations {
		margin-bottom: 40px;
		.type-combo {
			display: inline-block;
			&.first {
				margin-right: 40px;
			}
			.title,
			h3 {
				text-transform: uppercase;
				color: #888;
				border-bottom: none;
				font-size: 12px;
			}
			.options {
				width: 220px;
				display: inline-block;
				position: relative;
				/*
				&:after {
				    content: '';
					background-position: -450px -27px;
					width: 12px;
					height: 7px;
					position: absolute;
					right: 20px;
					top: 17px;
					border: 1px solid $orange;
				}
				*/
				select {
					@include appearance(none);
					height: 40px;
					line-height: 40px;
					border-radius: 5px;
					border-color: $gray;
					padding: 0 0px 0 20px;
					color: #888;
					width: 100%;
					position: relative;
					z-index: 1;
					background-color: transparent;
				}
				.icon {
					position: absolute;
					right: 10px;
					top: 5px;
					z-index: 0;
				}
			}
		}
	}

	.wd-product-associations {
		&.cross-sell {
			form {
				> ul {
					> li {
						text-align: left;
						position: relative;
						&.description-cross-sell {
							text-align: center;
							border-style: solid;
							border-color: $gray;
							border-width: 1px 0 1px 1px;
							height: 470px;
							display: table;
							> div {
								padding: 0 30px;
								width: 100%;
								vertical-align: middle;
								display: table-cell;
								span,
								strong {
									font-size: 22px;
									display: block;
								}
								p {
									font-size: 14px;
								}
							}
						}
						.wd-product-line {
							padding-top: 40px;
							height: 470px;
							select {
								@include appearance(none);
								height: 30px;
								line-height: 30px;
								border-radius: 5px;
								border-color: $gray;
								padding: 0 30px 0 20px;
								color: #888;
								width: 100%;
							}
						}
						&.column-buy {
							border-style: solid;
							border-color: $gray;
							border-width: 1px 1px 1px 0px;
							height: 469px;
							display: table;
							.form-ready-false {
								padding: 0 40px;
								width: 100%;
								vertical-align: middle;
								display: table-cell;

								.no-variation-selected {
									display: none;
								}

								.text-buy {
									color: #888;
									font-size: 13px;
								}
								.total {
									float: none;
									margin-right: 0;
									text-align: left;
									.asyncprice-area {
										margin-bottom: 15px;
										.sale-price {
											span {
												font-size: 24px;
											}
										}
									}
								}

								.btn-buy {
									height: 50px;
									line-height: 50px;
									color: white;
									font-weight: bold;
									width: 100%;
									background-color: $orange;
									border-radius: 50px;
									border: none;
									float: none;
									margin: 0 auto;
									display: table;
								}
							}
						}
						&.first {
							&:before {
								content: '+';
								width: 60px;
								height: 60px;
								line-height: 60px;
								color: white;
								font-size: 40px;
								text-align: center;
								border-radius: 50%;
								background-color: $orange;
								position: absolute;
								top: 50%;
								right: -30px;
								margin-top: -30px;
								z-index: 10;
								font-weight: 100;
							}
						}
					}
				}
			}
		}
	}

	.wd-product-wishlist {
		display: none;
	}
}