body.context-landing-SelectVariationRoute {
	.row.detail {
		.column {
			&.photo {
				padding: 0;
				.wrapper-photo {
					border: 1px solid #CCC;
					overflow: hidden;
				}
			}
			&:last-child {
				h3 {
					font-family: $font-secondary;
					text-transform: uppercase;
					font-size: 24px;
					font-weight: bold;
				}
				.variation {
					margin-top: 10px;
					.title {

					}
					ul {
						li {
							display: inline-block;
							a {
								border: 1px solid black;
								display: block;
								width: 24px;
								height: 24px;
								line-height: 24px;
								font-size: 10.5px;
								color: black;
								text-align: center;
								&.selected {
									background-color: $wine;
									color: white;
								}
							}
						}
					}
				}
				.buy {
					.btn-buy {
						font-weight: bold;
						font-size: 16px;
						text-transform: uppercase;
						color: white;
						background-color: black;
						padding: 15px 40px;
						display: block;
						margin: 20px 0;
						text-align: center;
						width: 218px;
					}
				}
			}
		}
		strong {
			&.title {
				color: black;
				font-size: 14px!important;
			    text-transform: uppercase;
			    color: black;
			    margin-bottom: 5px;
			    display: block;
			}
		}
	}
	.row.reviews {
		> .header {
			background-color: #DCDCDC;
			padding: 20px;
			> div {
				strong {
					font-size: 16px;
				}
				a {
					background-color: $wine;
					padding: 6px 10px;
					color: white;
					font-size: 12px;
				}
			}
			.review-count {
				right: 30px;
				position: absolute;
				top: 23px;
				font-weight: bold;
			}
		}
		.body {
			.wd-product-reviews {
				.wd-header {
					display: none;
				}
				.wd-product-reviews-list {
					margin: 0;
				}
			}
		}
	}

	.bottom {
		position: relative;
		.btn-buy {
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			background-color: black;
			padding: 15px 40px;
			display: block;
			margin: 20px auto 0;
			text-align: center;
		}
		.message-variation {
			//display: none;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 180px;
			font-size: 11px;
			font-weight: normal;
			text-transform: none;
			background-color: #FFC;
			color: black;
			position: absolute;
			padding: 10px 10px;
			text-align: center;
			border-radius: 5px;
			border: 1px solid shade(#FFC, 20%);
			top: 0px;
			left: 110px;
			margin-left: -90px;
			transition: all .2s ease-in-out;
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #FFC transparent transparent transparent;
				position: absolute;
				left: 90px;
				bottom: -5px;
			}
			&.show {
				opacity: 1;
				visibility: visible;
				top: -30px;
			}
		}
	}
}