body.page-register {
	#middle {
		.wd-profile-register {
			margin: 0;
			padding: 0;
			.wd-header {
				.wd-title {
					font-size: 24px;
					padding: 20px 0;
				}
			}
			fieldset {
				border: 1px solid $gray!important;
				border-radius: 5px;
				padding: 40px;
				margin-bottom: 4em;
				padding-bottom: 1em;
				.wd-subtitle {
					font-size: 20px;
					font-weight: bold;
					display: block;
					//border-bottom: 1px solid #999;
					padding: 10px 20px;
					margin-bottom: 1em;
					color: $wine;
				}
				.input-wrapper {
					padding: 5px 20px;
					font-size: inherit;
					margin-bottom: 0.5em;
					position: relative;
					label {
						width: 230px;
						text-align: right;
						font-weight: normal;
						display: inline-block;
						margin-right: 20px;
					}
					input[type="text"],
					select {
						width: 600px;
					}

					input,
					select {
						padding: 20px 20px;
						border: 1px solid $gray;
						border-radius: 6px;
					}

					.customer-type-radio {
						margin-left: 360px;
						label {
							width: 200px;
						}
					}

					span.error {
						position: absolute;
						background-color: #FFC!important;
					    font-size: 11px;
					    padding: 5px;
					    top: 21px;
					    right: 216px!important;
						/*
						left: 888px;
						top: 27px;
						font-size: 12px;
						background-color: $gray;
						padding: 4px 10px;
						*/
						white-space: nowrap;
					}
				}
			}
			.button-wrapper {
				float: left;
				button {
					width: 270px;
					text-transform: uppercase;
					background-color: $wine;
					color: white;
					font-weight: bold;
					height: 58px;
					line-height: 30px;
					font-size: 16px;
					border-radius: 0;
				}
			}
		}
	}
}
body.register-success {
	#content-wrapper {
		margin: 6em 0;
		.message {
			text-align: center;
			font-size: 2em;
			color: $color-primary;
		}
	}
}
body.AccountRegisterRoute {
	.wd-profile-register {
		span.error {
			right: 204px!important;
		}
	}
}