body {
	#middle {
		padding: 0;
		padding-bottom: 70px;
		max-width: inherit!important;
		//margin-top: 120px!important;
	}
	&.columns-2-left {
		#content,
		#left {
			padding-top: 70px!important;
		}
	}

	.wrapper-breadcrumbs {
		background-color: white;
		border-bottom: 1px solid $gray;
		height: 70px;
		line-height: 70px;
		.location {
			display: none;
		}
		li {
			font-size: 13px;
			a {
				display: inline-block;
				color: #616161;
			}
			&.first {
				a {
					color: $orange;
				}
			}
			&:not(:last-child) {
				&:after {
					content: '>';
					color: #616161;
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
	}

	.wd-flags {
		margin-bottom: 10px;
		.flag {
			font-size: 10px;
			padding: 2px 8px;
			background-color: #FFCF15;
			border-radius: 3px;
			color: white;
			font-weight: bold;
		}
	}

	&.loading {
		cursor: wait;
		&:before {
			content: '';
			background-color: rgba(black, 0.9);
			//display: block;
			position: fixed;
			opacity: 0.8;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 30;
		}
		&:after {
			content: 'aguarde...';
			font-size: 12px;
			color: #999;
			text-align: center;
			line-height: 100px;
			width: 100px;
			height: 100px;
			display: block;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			margin-left: -50px;
			//border: 2px solid white;
			z-index: 30;
			border-radius: 50%;
			box-shadow: 0 0 80px 10px rgba(black, 0.6);
			background-color: rgba(black, 0.3);
		}
	}
}