$color-primary:   #333333;
$color-secondary: black;
$color-buttons: #4FCD71;
$color-light: #E4E4E4;
$max-width:       1170px;

$orange: #FF8400;
$gray: #E4E4E4;
$wine: #73092C;

$color-dark: $wine;
$color-darkness: #333;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

%sprite {
	background-image: url('/Custom/Content/Themes/Reference/Images/sprite.png?v=15');
	background-repeat: no-repeat;
}