@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import '_vars';
@import '_mixins';

@import '_fonts';
@import '_base';
@import '_structure';

@import '_header';
@import '_footer';

@import '_product-line';
@import '_plan-line';
@import '_plans';
@import '_price';
@import '_quickview';

@import '_home';
@import '_identification';
@import '_product-detail';
@import '_grid';
@import '_register';
@import '_cms';
@import '_404';
@import '_modal';

.title-1 {
	color: black;
	display: block;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 1.5em;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.title-2 {
	@extend .title-1;
	font-size: 36px;
	font-weight: bold;
}

%button-default {
	background-color: $orange;
	//width: 220px;
	height: 50px;
	line-height: 50px;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border: none;
	text-align: center;
	padding: 0 20px;
	font-weight: bold!important;
}