@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';

@import '_vars';


.basket-wrapper {
	.my-box {
		margin-top: 60px;
		.title {
			text-transform: uppercase;
			font-family: $font-secondary;
			color: black;
			font-size: 26px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		.plan {
			position: relative;
			margin: 20px 0;
			border: 1px solid #DDD;

			padding: 20px;
			position: relative;
			strong,
			span {
				display: block;
			}

			strong {
				font-size: 18px
			}

			strong,
			span {
				color: black;
			}
			strong {
				font-size: 16px;
				font-weight: bold;
				display: block;
			}
			span {
				font-size: 13px;
			}
			a {
				position: absolute;
				right: 20px;
				color: #999;
				font-size: 13px;
				top: 30px;
				text-decoration: underline;
			}
		}
		.list {
			li {
				border: 1px solid #DDD;
				margin-bottom: 20px;
				overflow: hidden;
				padding: 20px;
				position: relative;
				img {
					//width: 120px;
					height: 80px;
					float: left;
				}
				.info {
					float: left;
					padding-left: 20px;
					margin-top: 8px;
					.name {
						font-family: $font-secondary;
						font-size: 18px;
						color: black;
						text-transform: uppercase;
						width: 600px;
						display: block;
					}
					dl {
						font-size: 14px;
						color: black;
						margin-top: 5px;
						dt,
						dd {
							float: left;
						}
						dt {
							clear: both;
						}
						dd {
							margin-left: 10px;
							font-weight: bold;
						}
					}

				}
				&.empty {
					border: 1px dashed #CCC;
					padding: 40px;
					span {
						display: table;
						margin: 0 auto;
						position: relative;
						&:before {
							content: '+';
							color: #666;
							font-size: 28px;
							position: absolute;
							left: -25px;
							top: -10px;
						}
					}
				}
				.remove {
					position: absolute;
					right: 20px;
					font-size: 24px;
					color: #666;
					top: 40px;
				}
			}
		}
		.finish {
			position: relative;
			button {
				background-color: #1FCE6D;
				display: block;
				padding: 20px;
				text-align: center;
				color: white;
				height: auto;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
				margin-top: 20px;
				width: 100%;
				border: none;
			}
			small {
				display: none;
				width: 230px;
				font-size: 11px;
				font-weight: normal;
				text-transform: none;
				background-color: black;
				color: white;
				position: absolute;
				padding: 15px 10px;
				text-align: center;
				border-radius: 7px;
				top: -30px;
				left: 50%;
				margin-left: -115px;
				&:after {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					border-color: black transparent transparent transparent;
					position: absolute;
					left: 105px;
					bottom: -5px;
				}
			}
			&.disabled {
				button {
					opacity: 0.4;
					position: relative;
					
				}
				&:hover {
					small {
						display: block;
					}
				}
			}
		}
		
		.column-list {
			margin-right: 0;
			padding-left: 0;
			padding-right: 7px;
		}
		.column-box {
			margin-top: 20px;
			width: 25.5%;
			.wrapper {
				border: 1px solid #DDD;
				padding: 20px;
				font-size: 16px;
			}
			.title {
				font-size: 22px;
				margin-bottom: 40px;
			}
			dl {
				font-size: 14px;
				overflow: hidden;
				&:not(.totals) {
					margin-bottom: 20px;
				}
				dt,
				dd {
					float: left;
					margin-bottom: 10px;
				}
				dt {
					clear: both;
					width: 110px;
					&.dt-total {
						margin-top: 10px;
					}
				}
				dd {
					text-transform: uppercase;
					margin-left: 10px;
					font-weight: bold;
				}

				&.totals {
					border-top: 1px solid #DDD;
					padding-top: 30px;
					margin-bottom: 0;
					.total {
						margin-top: 5px;
						font-size: 20px;
					}
				}
			}
		}

		.basket-empty {
			padding: 60px 0;
			text-align: center;
		}

		> .loading {
			padding: 60px;
			text-align: center;
			//text-transform: uppercase;
			span {
				display: table;
				margin: 0 auto;
				border: 4px solid #DDD;
				padding: 10px 20px;
			}
		}
	}
}