@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';
@import '_vars';

body.trabalhe-conosco {
	#middle {
		padding-bottom: 0!important;
	}
}
.row.trabalhe-conosco {
	margin-top: 3em;
	.column-6 {
		&:first-child {
			.title {
				font-size: 24px;
				text-align: center;
				margin-bottom: 20px;
			}
		}
		.image {
			min-height: 627px;
			position: relative;
			img {
				position: absolute;
				bottom: 0px;
				z-index: 0;
				left: 50%;
				margin-left: -206px;
				margin-right: -206px;
			}
		}
	}
}
.wd-browsing-feedback {
	input,
	select,
	textarea {
		width: 100%;
		border: none;
		padding: 15px 25px;
	}
	select {
		@include appearance(none);
	}
	.input-wrapper {
		border: 1px solid $gray;
		margin-bottom: -1px;
		padding: 5px;
		position: relative;
		&.feedback-name {
			border-radius: 5px 5px 0 0;
		}
		.icon {
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			border: 1px solid $gray;
			top: 17px;
			right: 20px;
		}
	}
	.column-6 {
		width: 50%!important;
		margin-right: 0!important;
	}
	.wrapper-ms-age {
		.column-6 {
			&:first-child {
				margin-right: -1px!important;
			}
			&:last-child {
				//margin-left: 1px!important;
				width: 286.59px!important;
			}
		}
	}
	.button-wrapper {
		button {
			width: 100%;
			background-color: $orange;
			color: white;
			font-weight: bold;
			height: 58px;
			line-height: 58px;
			border: 0;
			border-bottom: 1px solid #D97100;
			border-radius: 0 0 6px 6px;
		}
	}
}